{% load static %}
<html >
<head>
	<title>Мой блог</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

	<link rel="shortcut icon" href="css/images/favicon.ico" />

</head>
<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
			<ul>
			    <li><a href="/" class="active">Главная</a></li>
			    <li><a href="/admin">Админ панель</a></li>

			</ul>
		</div>

		<div id="main">
			<div id="content" class="left">

				<div class="projects">
					<h3>{{ post.title }}</h3>
                  <p align="center">
                    <a href="#"><img src="{{ post.image.url }}" width="50%" alt="" /></a>
                  </p>
					<div class="item">
						<div class="text left">
							<h4>{{ post.title }}</h4>
							<p>{{ post.desctiption }}</p>
							<p>Автор:  {{ post.author }}</p>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
				</div>
			</div>
			<div class="form_comment">
				<h3>Оставить комментарий:</h3>
				<div>
					<form action="{% url 'add_comments' post.id %}" method="post">
						{% csrf_token %}
						<div class="comment">
							<label>Ваш комментарий</label>
							<textarea name="text_comments" required></textarea>
						</div>
						<div class="name">
							<label>Ваше имя *</label>
							<input type="text" name="name" required>
						</div>
						<div class="email">
							<label>Ваш email *</label>
							<input type="email" name="email" required>
						</div>
						<div class="submit">
							<input type="submit">
						</div>
					</form>
				</div>
			</div>
			<hr>
			<div>
				{% for comment in post.comments_set.all %}
					<div class="view-comment">
						<h4>{{ comment.name }}</h4>
						<p>
							{{ comment.text_comments }}
						</p>
					</div>
				{% endfor %}
			</div>
			<div class="cl">&nbsp;</div>
		</div>


	</div>
</div>
</body>
</html>